body {
  background: url(img/Background.png);
  margin:0;
}

.game {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 100%;
 height: 100%;
 margin: 2% 5% 0% 2%;
}

.game__one {
  margin: 0;
  width: 100%;
  height: 100%;
}

.choice {
 padding: 0 0 59px 0;
}

.choice__text_big {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 67px;
  color: #FFFFFF;
  margin-bottom: 9px;
  padding: 0 0 0 45px;
}

.choice__text_small {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0 0 0 46px;
}

.level {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
  height: 223px;
}

.level__choice {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  list-style-type: none;
  margin-bottom: 23px;
  padding: 0 0 0 55px;
}

.level__choice_simple {
  margin-bottom: 24px;
}

.button {
  font: 700 32px/37px Roboto, arial, helvetica, sans-serif;
  color: white;
  background: #d62b2e;
  padding: 28px 85px;
  text-decoration: none;
  border-radius: 7px;
  margin-top: 114px;
  margin-bottom: auto; 
  height: 36px;
  width: 182px;
  margin-right: 300px;
}


.level__choice-romb {
  background-image: url(img/Rectangle.png);
  background-repeat: no-repeat;
  background-position-y: 15px;
}

.field {
  display: none;
}

.card_back {
  background: url('img/back.png');
  background-repeat: no-repeat;
  width: 350px;
  height: 400px;
}

.card_front {
  background: url('img/gameover.png');
  background-repeat: no-repeat;
  width: 350px;
  height: 400px;
}

.card_bag {
  background: url('img/bag.png');
  background-repeat: no-repeat;
  width: 350px;
  height: 400px;
}

.rotate {
  transform: rotateY(180deg);
}

.card_back:hover {
  filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.5));
  transform: rotateZ(-3.08deg) translateY(-25px) ;
  transition: 0.5s;
}

.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.img {
  width: 521px;
  height: 417px;
  background: url(img/cards.png);
  background-repeat: no-repeat;
}

.main {
  display: flex;
  margin-left: 42px;
  height: 100%;
  width: 100%;
  }


.level-hard {
    display: grid;
    grid-template-columns: 218px 218px 218px 218px 218px;
    grid-column-gap: 24px;
    grid-template-rows: 341px 341px;
    grid-row-gap: 24px;
    place-content: center;
}

@media (max-width: 1110px) {

  .card_back, .card_bag, .card_front {
    background-size: 44%;
    width: 258px;
    height: 179px;
  }

  .game {
    margin: 0;
  }

  .img {
    display: none;
  }

  .level-hard {
    grid-template-columns: 175px 175px 175px 175px 175px;
    grid-template-rows: 153px;
  }
}

@media (max-width: 950px) {
  .choice__text_small{
    font-size: 17px;
  }

  .choice__text_big {
    font-size: 53px;
  }
}

@media (max-width: 881px) {
  .choice__text_small{
    font-size: 17px;
    width: 93%;
  }

  .choice__text_big {
    font-size: 45px;
    width: 94%;
  }

  .level__choice {
    font-size: 40px;
    padding: 0 0 0 50px;
    margin-bottom: 3px;
  }

  .level {
    padding-inline-start: 0;
    width: 90%;
  }

  .main {
    margin: 0;
    width: 80%;
    height: 200px;
    margin-left: 35px;
  }

  .game {
    width: 100%;
    margin: 0;
    display: flex;
  }

  .card_back, .card_bag, .card_front {
    width: 136px;
    background-size: 84%;
  }

  .choice {
    padding: 0 0 24px 0;
    width: 92%;
  }

  .img {
    display: none;
  }

  .button {
    padding: 20px 64px;
    font-size: 28px;
    line-height: 32px;
    margin-top: 17px;
  }
}

@media (max-width: 820px) {
  .game {
    padding: 0;
    margin-top: 35px;
  }

  .main {
    grid-gap: 0;
    height: 100%;
  }

  .card_back, .card_bag, .card_front {
    width: 194px;
    height: 175px;
    background-size: 55%;
  }
}

@media (max-width: 769px) {
  .choice {
    width: 96%;
  }

  .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 382px;
  }

  .button {
    padding: 15px 46px;
    font-size: 27px;
  }

  .choice__text_big {
    font-size: 41px;
    width: 90%;
    padding: 0 0 0 22px;
  }

  .choice__text_small {
    font-size: 15px; 
    width: 87%;
    padding: 0 0 0 22px;
  }

  .level {
    width: 80%;
  }

  .level__choice {
    font-size: 35px;
    margin: 0;
  }

  .button {
    margin: 0;
  }

  .card_back, .card_bag, .card_front {
    width: 115px;
    height: 175px;
    background-size: 79%;
  }
}

@media (max-width: 670px) {
  .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 360px;
  }

  .choice__text_big {
    line-height: 41px;
    font-size: 32px;
    width: 90%;
    padding: 0 0 0 20px;
  }

  .choice__text_small {
    font-size: 14px;
    width: 94%;
    padding: 0 0 0 20px;
  }

  .level__choice {
    font-size: 33px;
    line-height: 44px;
  }

  .button {
    margin: 0;
    height: 29px;
    width: 119px;
    padding: 14px 56px;
    font-size: 20px;
    line-height: 20px;
  }

  .level{
    height: 152px;
  }

  .card_back, .card_bag, .card_front {
    width: 103px;
    height: 127px;
    background-size: 79%;
  }
} 

@media (max-width: 610px) {
  .card_back, .card_bag, .card_front {
    width: 96px;
    height: 127px;
    background-size: 83%;
  }

  .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 358px;
  }
}

@media (max-width: 575px) {
  .card_back, .card_bag, .card_front {
    width: 78px;
    height: 127px;
    background-size: 100%;
  }

  .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 375px;
  }
}

@media (max-width: 486px) {
  .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .card_back, .card_front, .card_bag  {
    background-size: 89%;
    width: 70px;
    height: 96px;
  } 

  .choice {
    width: 92%;
 }

 .choice__text_big {
    line-height: 36px;
    padding: 0 0 0 24px;
    width: 100%;
    font-size: 25px;
 }

 .choice__text_small {
    padding: 0 0 0 24px;
    width: 100%;
 }

 .level__choice {
    font-size: 28px;
    line-height: 33px;
 }

 .level__choice-romb {
    background-position-y: 4px;
 }

 .button {
    line-height: 19px;
    font-size: 18px;
    padding: 11px 34px;
    height: 25px;
    width: 111px;
  }

 .level {
    height: 130px;
 }
}

@media (max-width: 445px) {
  .card_back, .card_front, .card_bag {
    background-size: 100%;
    width: 56px;
    height: 96px;
 }

 .game {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
 }
}

@media (max-width: 375px) {
  .card_back, .card_front, .card_bag {
    background-size: 100%;
    width: 45px;
  }
} 

@media (max-width: 342px) {
  .button {
    font-size: 16px;
  }
  .choice__text_small {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .card_back, .card_front, .card_bag {
    width: 40px;
  }
} 
